<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <p class="lead">Angular Photo Gallery</p>
      </div>
    </div>
  </div>
</header>

<!--Full Page Image Header with Vertically Centered Content -->

<nav class="navbar-expand-lg">
  <div class="navbar-collapse mt-4" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white myText" routerLink="/games"><i class="fas fa-gamepad"></i> Home</a>
      </li>
      <li *ngIf="loading" class="nav-item">
        <a class="nav-link text-white" routerLink="/games/add"><i class="fas fa-plus-circle"></i> Add Post</a>
      </li>
      <li *ngIf="loading" class="nav-item">
        <a class="nav-link text-white" routerLink="/games/api"><i class="fas fa-plus-circle"></i> Add Post/Api</a>
      </li>      
      <li *ngIf="!loading" class="nav-item">
        <a class="nav-link text-white" (click)="openForm()"><i class="fas fa fa-key"></i> Login</a>
      </li>
      <li *ngIf="loading" class="nav-item">
        <a class="nav-link text-white" (click)="logout()"><i class="fas fa fa-key"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="form-popup" id="myForm">
  <form action="" class="form-container" method="post">

    <h1 class="text-white">Login</h1>
    <div id="publisherVerification"><h6 id="publisherVerification" class="text-danger" *ngIf="isLoading">No hi ha registres</h6></div>
    <label for="id"><b>Id</b></label>
    <input type="text" name="user" [(ngModel)]="user.id">

    <button type="submit" class="btn login text-white" (click)="logIn()" id="login-button" data-target="#publisherVerification">Login</button>
    <button type="button" class="btn cancel" (click)="closeForm()">Close</button>

  </form>
</div>

<div style="clear: both;"></div>