<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <p class="lead">Angular Photo Gallery</p>
      </div>
    </div>
  </div>
</header>

<!--Full Page Image Header with Vertically Centered Content -->

<nav class="navbar-expand-lg">
  <div class="navbar-collapse mt-4" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/games"><i class="fas fa-gamepad"></i> Home</a>
      </li>
      <li *ngIf="validateUser" class="nav-item">
        <a class="nav-link text-white" routerLink="/games/add"><i class="fas fa-plus-circle"></i> Add Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" (click)="openForm()"><i class="fas fa fa-key"></i> Login</a>
      </li>
      <li *ngIf="validateUser" class="nav-item">
        <a class="nav-link text-white" (click)="logout()"><i class="fas fa fa-key"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="form-popup" id="myForm">
  <form action="" class="form-container" method="post">

    <h1 class="text-white">Login</h1>

    <label for="id"><b>Id</b></label>
    <input type="id" #id name="id" placeholder="id">

    <label for="username"><b>User Name</b></label>
    <input type="text" #username name="username" placeholder="Username">

    <label for="password"><b>Password</b></label>
    <input type="password" #password name="password" placeholder="Password">

    <button type="submit" class="btn login text-white" (click)="logIn(id.value,username.value, password.value, $event)" id="login-button">Login</button>
    <button type="button" class="btn cancel" (click)="closeForm()">Close</button>

  </form>
</div>

<div style="clear: both;"></div>