/* You can add global styles to this file, and also import other style files */
body { 
    background-color: #313F45 !important; 
    color: #868e96 !important;
}

.ngx-pagination a:hover {
    color:#f1f413;text-decoration:underline;
}
.my-pagination a:active{
    outline:0;
}
.my-pagination a:focus {
    outline:0;
}

.myfloat button {
    position: absolute;
    right: 0;
}

#hover a:hover {color:#f1f413 !important;}

#hover a {color:#fff !important;}

.divider {
    height: 1%;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #313F45 !important;
  }

