.col-centered{
    float: none;
    margin: 0 auto;
}

.myfloat{
    float: none;
    margin: 0 auto;
    float: right;
    display: fixed;
}

.myClass {
    display: inline-block; 
    font: 13px Halvetica, Arial, Verdana, Sans-serif;
    font-size: 17px;
    color: #fff !important;
    margin-left: -6%
}

.mycard-text{
    text-transform: none !important;
    color: #fff !important;
    background-color: #071622 !important; 
    font-size: 22px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-top: 4rem !important;
}

.mycard{
    background-color: #071622 !important;
    font-family: Arial, Helvetica, sans-serif !important;
  }

  .mycard-body {
    padding: 0;
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  
  .card>hr {
    margin-right: 0;
    margin-left: 0;
  }
  
  .card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  
  .card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
  
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: .75rem;
  }
  
  .card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  
  .card-link+.card-link {
    margin-left: 1.25rem;
  }
  
  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
  
  .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  }
  
  .card-header+.list-group .list-group-item:first-child {
    border-top: 0;
  }
  
  .card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
  }
  
  .card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
  }
  
  .card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  
  .card-img {
    width: 100%;
    border-radius: calc(.25rem - 1px);
  }
  
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }
  
  .card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
  }
  
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .card-deck .card {
    margin-bottom: 15px;
  }

  .mt-n1 {
    margin-bottom: 4rem !important;
  }

  .mt-n2 {
    margin-top: 4rem !important;
  }

  /*----------------------------*/

  .btn-myPrimary, .btn-myPrimary:hover, .btn-myPrimary:active, .btn-myPrimary:visited {
    background-color: #fff !important;
  }

  .modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}