.col-centered{
    float: none;
    margin: 0 auto;
    float: center;
    display: block;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #f00d0d;
}

.flash {
    opacity: 0.9;
    max-height:230px;
    width: auto;
    height: auto;    
}

.flash2 {
    opacity: 0.9;
    max-height:555px;
    width: auto;
    height: auto;    
}

.flash:hover {
    opacity: 1;
}

.hold {
    display: inline; /* the default for span */
}

a:hover {color:#f1f413;text-decoration:underline;}
a {color:#d7e9fe;text-decoration:none;}

.mainDash a:link, a:visited, a:hover {
    color: #fff !important;
    max-width: 75ch;
    text-decoration:none;
}

.text {
    display: block;
    max-width: 75ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration:none;
  }
  .text2 {
    display: block;
    max-width: 75ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration:none;
  }  
.text::first-letter {
    color: red;
    font: 20px Halvetica, Arial, Verdana, Sans-serif;
    text-transform: capitalize;
    text-decoration:none; 
}

.myfloat{
    float: none;
    margin: 0 auto;
    float: right;
    display: fixed;
}

.jumbotron{
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)}

.disabled,:disabled{
    pointer-events:none!important;
}

.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    border-color:#252628 !important;
}

@media only screen and (min-width: 600px) {
    .mySize{
        width:94.5vh !important;
    }
}

@media only screen and (max-width: 550px) {
    .mySize{
        width:52vh !important;
    }
}

  .masthead {
    height: 25vh;
    min-height: 150px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.myDisplay{
    visibility: hidden;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.myfloat{
    float: none;
    margin: 0 auto;
    float: right;
    display: fixed;
}

.myClass {
    display: inline-block; 
    font: 13px Halvetica, Arial, Verdana, Sans-serif;
    font-size: 17px;
    color: #fff !important;
    margin-left: -6%
}

.label-default {
background-color: #fff;
color: #333 !important;
font: 17px Halvetica, Arial, Verdana, Sans-serif;
font-weight: bolder;
}

.label-default2 {
    background-color: #071622;
    color: #fff !important;
    font: 17px Halvetica, Arial, Verdana, Sans-serif;
    font-weight: bolder;
}

@media only screen and (max-width: 550px) {
    .label-default2 {
        background-color: #071622;
        color: #fff !important;
        font: 12px Halvetica, Arial, Verdana, Sans-serif;
        font-weight: bolder;
    }
}

/*----------------------------*/

.btn-myPrimary, .btn-myPrimary:hover, .btn-myPrimary:active, .btn-myPrimary:visited {
    background-color: #fff !important;
  }

.modal-full {
    min-width: 75%;
    min-height: 100%;
    height: auto;
}

.modal-full .modal-content {
    height: auto;
    margin: auto;
}

.noDeco {
  cursor: pointer !important;
}

#myPlaceHolder {
    text-align: center; 
}