<!-- Footer -->
<footer>

    <hr class="divider mt-4"/>

    <div class="col-md-4">
    <div id="bottom">
      <div class="bottom section" id="center2-bottom">
          <div class="widget Categories Label mt-4">
            <h2>Categories</h2>
                <div class="widget-content list-label-widget-content mt-4">
                  <div id='hover' *ngFor="let game of games">
                      <ul>
                        <li>
                          <a href="">{{game.title}}</a>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
          </div>
      </div>

    <div id="bottom">
        <div class="bottom section" id="center1-bottom">
            <div class="widget PopularPosts Label mt-4">
                <h2>Popular Posts</h2>
                  <div class="widget-content list-label-widget-content">
                    <div id='hover' *ngFor="let game of llistaAux; ">
                      <ul>
                        <li>
                          <div class="item-content">
                          <div class="item-thumbnail">
                          <a href="">		<img alt="" width="72px" height="72px" [src]="game.image">		</a>
                          </div>
                          <div class="item-title">
                          <a class="my-pagination" dir="ltr" href=""> {{game.title}} </a>		</div>
                          <div class="item-snippet my-pagination">{{game.description}}</div>		</div>
                          <hr class="dividerFooter mt-4"/>
                        </li>
                      </ul>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>

  <div style="clear: both;"></div>

</footer>
<!-- Footer -->

	

