.bg-primary {
    background-color: #0555e9;
}

.bg-one {
    background-color: #071622;
    margin-top: -5%
}

.bg-two{
    background-color: #313F45;
}

.dividerFooter {
    height: 1%;
    width:105%;
    display:block; /* for use on default inline elements like span */
    margin-left: -24px;
    overflow: hidden;
    background-color: #313F45;
  }


#center1-bottom, #center2-bottom {
    width: 50%;
    float: left;
    padding: 10px 20px 15px 5px;
    margin-left: 0%
}
@media only screen and (max-width: 600px) {
    #center1-bottom, #center2-bottom {
        width: 190%;
        float: left;
        padding: 0px 20px 5px 5px;
        margin-left: 20%
    }
    #bottom h2 {}
    
    #bottom {
        width: 42vw !important;
        font: 13px Halvetica, Arial, Verdana, Sans-serif;
        font-size: 17px;
        margin-left: -38px !important;
        color: #fff !important;
    }
}
  
#bottom h2 {
    background: #313F45;
    font-family: 13px Halvetica, Arial, Verdana, Sans-serif;
    font-size: 19px;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
    padding: 4px 10px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: normal;
    text-transform: Capitalize;
    border: 1px solid #0a0c11;
    text-shadow: 1px 1px 2px #000;
}

#bottom {
    width: 55vw;
    font: 13px Halvetica, Arial, Verdana, Sans-serif;
    font-size: 17px;
    margin: 0 0 0 0;
    color: #fff !important;
}


.widget {
    padding: 0 15px 20px 15px;
    margin-left: -37px !important;
    
}


div.clear {
    clear: both;
}

li, a {
    list-style-type: none;
    color: #fff !important;
    padding: 0 0px;
}

.Categories li {
    margin-left: -30px !important;
}

.PopularPosts .item-thumbnail {
    float: left;
    margin: 0px 5px 5px 5px;
    margin-left: -20px;
    padding-top: 0px;
}

.PopularPosts .item-title {
    font-weight: bold;
    font-size: 17px;
    height:20px;
    overflow: hidden;
    padding-top: 0px;
    padding-left: 10px;
}

.PopularPosts .item-snippet {
    height: 61px;
    width: 50%;
    overflow: hidden;
    padding-top: 0px;
    padding-left: 10px;
}

div {
    display: block;
}

.PopularPosts .item-title {
    padding-bottom: .2em;
    padding-top: 0px;
}
a:link, a:visited, a:hover {
    color: #fff !important;
    
}

a:hover img {
    color: #ff0 !important;
    text-decoration: none;
}

.my-pagination {
    float: left;
    padding: 0px;
    margin-left: 0px;
    color: #fff;
}

.text {
    display: block;
    max-width: 75ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

a img {
    vertical-align: middle;
    border:1px solid #fff;
    background-color:tr;
}

