
<div class="row">
    <div class="col-md-4" *ngFor="let game of games | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
      <div class="card text-center mt-4">
        
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
          <a [routerLink]="['/games/view', game.id]" class="mainDash">{{ game.title }}</a>
          <button *ngIf="authenticationService.isLoggedIn()" class="btn btn-danger" (click)="deleteGame(game.id)">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
        <img class="card-img-top flash" [src]="game.image1" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <div class="card-body" *ngIf="authenticationService.isLoggedIn()">
          <!--<p> {{game.description}} </p>-->
          <p>Created at {{game.created_at | date: 'dd/MM/yyyy'}}</p>
          <a  [routerLink]="['/games/edit', game.id]" class="btn btn-info btn-block bg-dark text-white">
            EDIT GAME
          </a>
        </div>
      </div>
    </div>
    <br>
  </div>
  
  <div style="clear: both;"></div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="my-pagination mt-5 text-center float-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
  
  <app-footer [games]="games" [llistaAux]="llistaAux"></app-footer>
