.col-centered{
    float: none;
    margin: 0 auto;
    float: center;
    display: block;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #f00d0d;
}

.flash {
    opacity: 0.8;
}

.flash:hover {
    opacity: 1;
}

.hold {
    display: inline; /* the default for span */
}