.col-centered{
    float: none;
    margin: 0 auto;
    float: center;
    display: block;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #f00d0d;
}

.flash {
    opacity: 0.9;
    max-height:230px;
    width: auto;
    height: auto;    
}

.flash:hover {
    opacity: 1;
}

.hold {
    display: inline; /* the default for span */
}

a:hover {color:#f1f413;text-decoration:underline;}
a {color:#d7e9fe;text-decoration:none;}

.mainDash a:link, a:visited, a:hover {
    color: #fff !important;
    text-decoration:none;
    max-width: 75ch;
}

.myfloat{
    float: none;
    margin: 0 auto;
    float: right;
    display: fixed;
}

.jumbotron{
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)}

.disabled,:disabled{
    pointer-events:none!important
}

.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

  .masthead {
    height: 25vh;
    min-height: 150px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.myDisplay{
    visibility: hidden;
}

.text {
    display: block;
    max-width: 75ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration:none;
  }
  .text2 {
    display: block;
    max-width: 75ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration:none;
  }  
.text::first-letter {
    color: red;
    font: 20px Halvetica, Arial, Verdana, Sans-serif;
    text-transform: capitalize;
    text-decoration:none; 
}